@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0;
  padding: 0;
  /* box-sizing: border-box; */
}

html, body, #root {
  height: 100%;
  background-color: #27272a;
  margin: 0;
  padding: 0;
}

/* Ensure the root div of the React app also has full height */
.w-full.h-full {
  height: 100%;
}
